@model IEnumerable<CMT.Models.Champ>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Created
        </th>
        <th>
            CreatedBy
        </th>
        <th>
            Finished
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @item.Name
        </td>
        <td>
            @String.Format("{0:g}", item.Created)
        </td>
        <td>
            @item.User.DisplayName
        </td>
        <td>
            @String.Format("{0:g}", item.Finished)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Champ", new { id=item.Id }, null) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

